In [1]:
print("Hello and Welcome")

Hello and Welcome

Pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
my_array = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [4]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_array, labels)

a    10
b    20
c    30
dtype: int32

In [9]:
d

{'a': 10, 'b': 20, 'c': 30}

In [10]:
pd.Series(my_array)

0    10
1    20
2    30
dtype: int32

In [11]:
serie_1 = pd.Series([1,2,3,4], ['USA', 'GERMANY', 'USSR', 'JAPAN'])

In [12]:
serie_1

USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64

In [13]:
serie_2 = pd.Series([1,2,3,4], ['USA', 'GERMANY', 'ITALY', 'JAPAN'])

In [14]:
serie_2

USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64

In [15]:
serie_1['USA']

1

In [16]:
serie_3 = pd.Series(data=labels)

In [17]:
serie_3[1]

'b'

In [18]:
serie_1 + serie_2

GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64