In [10]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]

hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [14]:
df

             A         B
G1 1  0.510269  1.360218
   2 -0.254968  0.166444
   3  0.240828 -0.991102
G2 1  0.654749 -0.512522
   2 -1.094904 -1.514232
   3 -1.697451  1.814355

In [17]:
df.loc['G1'].iloc[0]

A    0.510269
B    1.360218
Name: 1, dtype: float64

In [19]:
df.index.names = ['Groups', 'Numbers']

In [20]:
df

                       A         B
Groups Numbers
G1     1        0.510269  1.360218
       2       -0.254968  0.166444
       3        0.240828 -0.991102
G2     1        0.654749 -0.512522
       2       -1.094904 -1.514232
       3       -1.697451  1.814355

In [24]:
#Grabbing a value
df.loc['G2'].loc[2]['B']

-1.5142324507711509

In [25]:
df.loc['G1'].loc[3]['B']

-0.9911016675894301

In [26]:
df.xs

<bound method NDFrame.xs of                        A         B
Groups Numbers
G1     1        0.510269  1.360218
       2       -0.254968  0.166444
       3        0.240828 -0.991102
G2     1        0.654749 -0.512522
       2       -1.094904 -1.514232
       3       -1.697451  1.814355>

In [27]:
df.xs('G1')

                A         B
Numbers
1        0.510269  1.360218
2       -0.254968  0.166444
3        0.240828 -0.991102

In [32]:
df.xs(3, level='Numbers')

               A         B
Groups
G1      0.240828 -0.991102
G2     -1.697451  1.814355