In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'A' :[1,2,np.nan], 'B' :[5, np.nan, np.nan], 'C': [1,2,3]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df.dropna(axis=	1)

   C
0  1
1  2
2  3

In [13]:
df.dropna(thresh=2)
#threshhold - row one has atleast 2 non-nan values

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [15]:
df.fillna(value = 'Fill Value')

            A           B  C
0           1           5  1
1           2  Fill Value  2
2  Fill Value  Fill Value  3

In [16]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64