In [19]:
print("Hello and Welcome")

Hello and Welcome

Dictionaries

In [2]:
d = {"key_1": "value", "key_2": 123}

In [5]:
d["key_1"]

'value'

In [6]:
d = {"k1": {"inner_key": [1, 2, 3]}}

In [8]:
d["k1"]["inner_key"][1]

2

Lists

In [10]:
my_list = [1, 2, 3]

In [13]:
my_list[0] = "NEW"

In [14]:
my_list

['NEW', 2, 3]

In [15]:
set([1,1,1,1,2,2,2,2,3,4,4,5])

{1, 2, 3, 4, 5}

In [17]:
s = (1,2,3,4)

Booleans

In [22]:
True and True

True

In [23]:
True and False

False

In [24]:
False and True

False

In [25]:
False and False

False

Condition Statements

In [27]:
if 1 < 2:
	print('yep')

yep

In [30]:
if 1 != 2:
	print("first")
else:
	print("last")

first

In [31]:
seq = [1,2,3,4,5]

In [34]:
for num in seq:
	print(num)

1
2
3
4
5

In [35]:
i = 1

while i < 5:
	print('i is: {}'.format(i))
	i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [36]:
for x in seq:
	print(x)

1
2
3
4
5

In [39]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [38]:
for x in range(0,5):
	print(x)

0
1
2
3
4

In [44]:
x = list(range(0,10))

List Comprehension

In [48]:
x = list(range(0,5))

In [49]:
out = []

for num in x:
	out.append(num ** 2)

In [50]:
print(out)

[0, 1, 4, 9, 16]

In [53]:
out = [ num ** 2 for num in x ]

In [54]:
out

[0, 1, 4, 9, 16]

Functions

In [62]:
def my_func(name="User"):
	print("Welcome " + name)

In [64]:
my_func()

Welcome User

In [68]:
def square(num):
	"""
	THIS IS A DOCSTRING
	THIS FUNCTION SQUARES A NUMBER
	"""
	return num ** 2

In [66]:
output = square(2)

In [69]:
square

In [70]:
def times_2(var):
	return var*2

In [71]:
times_2(5)

10

In [74]:
seq = list(range(0,5))

In [76]:
list(map(times_2, seq))

[0, 2, 4, 6, 8]

Lambda Expressions also known as anonymous functions

In [77]:
t = lambda var: var*2

In [78]:
t(6)

12